/* App.css */

/* Apply a matrix-style background */
body {
  background-color: #000;
  font-family: 'Courier New', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Container for the app content */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  padding: 20px;
  border: 2px solid #00FF00;
  border-radius: 10px;
  height: 100vh;
  width: 80%; /* Set the width to 80% of the screen width */
  max-width: 800px; /* Set an upper limit for the container's width */
  box-sizing: border-box; /* Ensure padding is included in the width */
  overflow: auto; /* Add a scrollbar when content exceeds the container */
  position: relative; /* Add relative positioning to the container */
}

.app-container > h1 {
  color: white;
}
/* Webcam and image container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* Scrollable container for the content */
.content-container {
  overflow-y: auto; /* Enable vertical scrolling for content */
  max-height: 80vh; /* Set a maximum height for the content */
  width: 100%;
}

/* iPod-style background and design for webcam container */
.webcam-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  background-color: #000;
  border: 2px solid #00FF00;
  border-radius: 10px;
  position: sticky;
  top: 0; /* Stick to the top of the container */
  z-index: 1; /* Ensure it appears above other content */
}

.webcam-container video {
  width: 100%;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

button {
  background-color: #00FF00;
  color: #000;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  /* margin-top: 20px; */
}

img {
  margin: 10px;
  max-width: 200px;
}

p {
  color: #00FF00;
  font-size: 18px;
  margin-top: 20px;
}
